In [1]:
from pdfquery import PDFQuery
import pandas as pd
import os
import json

## Extract Data From PDF

In [2]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
with open('jsonData/BZB_24060691.json', encoding="utf8") as f:
    test = json.load(f)

test['Data']['ResultOcr'][0]['Items']

[{'AmountValue': 15140.25,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร เข้มข้น 50g 50 บ',
  'Quantity': 15,
  'ProductCode': '1025005',
  'Unit': None,
  'UnitPrice': None},
 {'AmountValue': 1816.83,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร ไลท์รสออริจินัล 20g 20 บ. แพ็ค6',
  'Quantity': 3,
  'ProductCode': '1602003',
  'Unit': None,
  'UnitPrice': 19},
 {'AmountValue': 4239.27,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร เข้มขึ้น 309 30 บ.',
  'Quantity': 7,
  'ProductCode': '1023009',
  'Unit': None,
  'UnitPrice': 673},
 {'AmountValue': 1211.22,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร สาหร่ายเกาหลี 20g 20 บ. แพ็ค6',
  'Quantity': 2,
  'ProductCode': '1172016',
  'Unit': None,
  'UnitPrice': 346},
 {'AmountValue': 211.22,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโรอบกรอบ เข้มข้น 180 20 บ. ใหม่ แผล.3\nทาโรอบกรอบ บาร์บีคิว 189-20 บ. ใหม่ แผด.3',
  'Quantity': None,
  'ProductCode': '4062007',
  'Unit': None,
  'UnitPrice': None},
 {'AmountValue': 605.61,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร บาร์บีคิว 30g 30 บ',
  'Quantity': 1,
  'ProductCode': '1033009',
  'Unit': None,
  'UnitPrice': None},
 {'AmountValue': None,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ตาโซ เข้มข้น 50g 50 บ',
  'Quantity': 15,
  'ProductCode': '1025005',
  'Unit': None,
  'UnitPrice': None},
 {'AmountValue': None,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร บาร์บีคิว 50g 50 น',
  'Quantity': 1,
  'ProductCode': '1035005',
  'Unit': None,
  'UnitPrice': None},
 {'AmountValue': None,
  'AmountSymbol': None,
  'Date': None,
  'Description': 'ทาโร ซูเปอร์แซบ 50g 50 บ',
  'Quantity': 7,
  'ProductCode': '1055003',
  'Unit': None,
  'UnitPrice': None}]

In [40]:
with open("jsonData/" + 'page1.json', encoding='utf-8') as f:
        json_file = json.load(f)
        data = json_file['Data']['ResultOcr'][0]['Items']

In [49]:
data[0]

{'AmountValue': 12.5,
 'AmountSymbol': None,
 'Date': None,
 'Description': 'วิกซอล โกลด์ 900 (2+1)',
 'Quantity': 1,
 'ProductCode': '1101155228',
 'Unit': None,
 'UnitPrice': 12}

In [50]:
data[0]['ProductCode']

'1101155228'

In [51]:
for index in range(0,len(data) - 1):
    dict = {}
    dict['ProductCode'] = data[index]['ProductCode']
    dict['ProductName'] = data[index]['Description']
    dict['Qty'] = data[index]['UnitPrice']
    dict['Pack'] = data[index]['Quantity']
    dict['Weight'] = data[index]['AmountValue']

print(dict)

{'ProductCode': '1315033715', 'ProductName': 'ไขยืน-ปรับผ้านุ่ม ชมพู 2800', 'Qty': 12.2, 'Pack': 1, 'Weight': 12.2}

In [6]:
def create_df(df, data):
    for index in range(0,len(data) - 1):
        dict = {}
        dict['ProductCode'] = data[index]['ProductCode']
        dict['ProductName'] = data[index]['Description']
        dict['Qty'] = data[index]['Quantity']
        #dict['Pack'] = data[index]['Quantity']
        #dict['Weight'] = data[index]['AmountValue']
        df = pd.concat([df, pd.DataFrame(dict, index=[index])], ignore_index=True)
    return df

In [5]:
file_ls = []
for file_name in os.listdir("jsonData"):
    file_ls.append(file_name)

file_ls = ['BZB_24060691.json']
file_ls

['BZB_24060691.json']

In [7]:
for file_name in file_ls:
    with open("jsonData/" + file_name, encoding='utf-8') as f:
        json_file = json.load(f)
        data = json_file['Data']['ResultOcr'][0]['Items']
        df = create_df(df, data)

df

  ProductCode                                        ProductName   Qty
0     1025005                              ทาโร เข้มข้น 50g 50 บ    15
1     1602003               ทาโร ไลท์รสออริจินัล 20g 20 บ. แพ็ค6     3
2     1023009                            ทาโร เข้มขึ้น 309 30 บ.     7
3     1172016                 ทาโร สาหร่ายเกาหลี 20g 20 บ. แพ็ค6     2
4     4062007  ทาโรอบกรอบ เข้มข้น 180 20 บ. ใหม่ แผล.3\nทาโรอ...  None
5     1033009                            ทาโร บาร์บีคิว 30g 30 บ     1
6     1025005                              ตาโซ เข้มข้น 50g 50 บ    15
7     1035005                            ทาโร บาร์บีคิว 50g 50 น     1

In [8]:
df.to_excel("input/vendor_data2.xlsx",index=False)

In [56]:
df

Empty DataFrame
Columns: []
Index: []